<div class="container-fluid mt-3 ms-2">


      <p class="fw-bold fs-3">New Post</p>

      <%= form_with :model => @post do |form| %>
        <p>
          <%= form.label "title" %>
          <%= form.text_field "title" %>
        </p>
        <p>
          <%= form.label "description" %>
          <%= form.text_field "description" %>
        </p>

        <p>
            <%= form.label "uploaded_image", :class => "form-label" %>
            <%= form.file_field "uploaded_image", :accept => "image/jpeg,image/jpg,image/png,image/gif" ,:class => "form-control" %>
          </p>


        <p>
          <%= form.label "posted_on" %>
          <%= form.date_field "posted_on" %>
        </p>
        <p>
          <%= form.submit "Submit Post", class: "btn btn-outline-dark fw-bold" %>
        </p>
        <%= form.hidden_field "place_id" %>
      <% end %>

</div>