<div class="container-fluid">

    <p class="fw-bold fs-3"><%= @place["name"] %></p>

  <% if @current_user %>


    <p>
    <a href="/posts/new?place_id=<%= @place["id"] %>" class="btn btn-outline-dark fw-bold fs-6" >New Post</a>
    </p>

    <br>
    
    <p class="fw-bold fs-5">My Posts</p>



    <% for post in @posts %>
      <h3><%= post["title"] %></h3>
     <h4><%= post["posted_on"] %></h4>


    <% if post.uploaded_image.attached? %>
          <img src=" <%= url_for(post.uploaded_image) %>" class="img-fluid">
          <% else %>
          <img src="<%= post["image"] %>" class="img-fluid">
          <% end %>
  

 
      <p><%= post["description"] %></p>
    <% end %>

      <% else %>
    You must first <a href="/login">login</a> to post.
  <% end %>

    <p>
      <a href="/places">Back to All Places</a>
    </p>

</div>